[Unit]
Description=Sample python script
After=network.target

[Service]
Type=simple
User=robbie
WorkingDirectory=/home/robbie/tmp
Environment="example_env_variable=example_value"
ExecStart=python3.9 script.py
Restart=always
StandardOutput=append:/home/robbie/tmp/output.log
StandardError=append:/home/robbie/tmp/error.log

[Install]
WantedBy=multi-user.target
